@charset "UTF-8";
@font-face {
  font-family: "e-Ukraine-Bold";
  src: url("../fonts/e-Ukraine-Bold.eot"); /* Поддерживается в IE9 */
  src: url("../fonts/e-Ukraine-Bold.woff2") format("woff2"), url("../fonts/e-Ukraine-Bold.woff") format("woff"), url("../fonts/e-Ukraine-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "e-Ukraine-Light";
  src: url("../fonts/e-Ukraine-Light.eot"); /* Поддерживается в IE9 */
  src: url("../fonts/e-Ukraine-Light.woff2") format("woff2"), url("../fonts/e-Ukraine-Light.woff") format("woff"), url("../fonts/e-Ukraine-Light.ttf") format("truetype");
}
@font-face {
  font-family: "e-Ukraine-Medium";
  src: url("../fonts/e-Ukraine-Medium.eot"); /* Поддерживается в IE9 */
  src: url("../fonts/e-Ukraine-Medium.woff2") format("woff2"), url("../fonts/e-Ukraine-Medium.woff") format("woff"), url("../fonts/e-Ukraine-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "e-Ukraine-Regular";
  src: url("../fonts/e-Ukraine-Regular.eot"); /* Поддерживается в IE9 */
  src: url("../fonts/e-Ukraine-Regular.woff2") format("woff2"), url("../fonts/e-Ukraine-Regular.woff") format("woff"), url("../fonts/e-Ukraine-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "e-UkraineHead-Bold";
  src: url("../fonts/e-UkraineHead-Bold.eot"); /* Поддерживается в IE9 */
  src: url("../fonts/e-UkraineHead-Bold.woff2") format("woff2"), url("../fonts/e-UkraineHead-Bold.woff") format("woff"), url("../fonts/e-UkraineHead-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "e-UkraineHead-Light";
  src: url("../fonts/e-UkraineHead-Light.eot"); /* Поддерживается в IE9 */
  src: url("../fonts/e-UkraineHead-Light.woff2") format("woff2"), url("../fonts/e-UkraineHead-Light.woff") format("woff"), url("../fonts/e-UkraineHead-Light.ttf") format("truetype");
}
@font-face {
  font-family: "e-UkraineHead-Medium";
  src: url("../fonts/e-UkraineHead-Medium.eot"); /* Поддерживается в IE9 */
  src: url("../fonts/e-UkraineHead-Medium.woff2") format("woff2"), url("../fonts/e-UkraineHead-Medium.woff") format("woff"), url("../fonts/e-UkraineHead-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "e-UkraineHead-Regular";
  src: url("../fonts/e-UkraineHead-Regular.eot"); /* Поддерживается в IE9 */
  src: url("../fonts/e-UkraineHead-Regular.woff2") format("woff2"), url("../fonts/e-UkraineHead-Regular.woff") format("woff"), url("../fonts/e-UkraineHead-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "e-UkraineHead-LOGO";
  src: url("../fonts/e-UkraineHead-LOGO.eot"); /* Поддерживается в IE9 */
  src: url("../fonts/e-UkraineHead-LOGO.woff2") format("woff2"), url("../fonts/e-UkraineHead-LOGO.woff") format("woff"), url("../fonts/e-UkraineHead-LOGO.ttf") format("truetype");
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "e-Ukraine-Regular";
  font-size: 16px;
}

input {
  margin-bottom: 0.25rem;
}
input[type=number] {
  display: inline-block;
  padding: 0.25rem;
  background-color: #bac5cf;
  border: #000 solid 0.0625rem;
  border-radius: 0.25rem;
  margin-top: 0.325rem;
}
input[type=button] {
  display: block;
}
input[type=text] {
  margin-top: 0.325rem;
  padding: 0.25rem;
  background-color: #bac5cf;
  border: #000 solid 0.0625rem;
  border-radius: 0.25rem;
  width: 100%;
}

.btn {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  -webkit-box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
          box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  line-height: 115%;
  list-style: none;
  padding: 0.5rem 0.75rem;
  position: relative;
  -webkit-transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.btn:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.btn:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}
.btn:active {
  background-color: #edeff2;
  -webkit-box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
          box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  -webkit-transition: none 0s;
  transition: none 0s;
}
.btn:focus {
  outline: 1px transparent;
}
.btn:before {
  display: none;
}
.btn:-webkit-details-marker {
  display: none;
}

.wrapper {
  max-width: 1440px;
  height: 100vh;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.diploma-body {
  width: 210mm;
  height: 297mm;
  padding: 11.25rem 2.975rem 7.975rem 2.975rem;
  background: url("../img/background-00.webp") no-repeat center;
  background-size: contain;
}
.diploma-body__headline, .diploma-body__title, .diploma-body__person, .diploma-body__text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}
.diploma-body__headline > h1,
.diploma-body__headline h2 {
  color: #0055ff;
  -webkit-text-stroke: 0.1875rem #001b52;
  font-family: "e-UkraineHead-Bold";
  line-height: 125%;
  font-weight: 800;
}
.diploma-body__headline h2 {
  letter-spacing: 0.325rem;
  text-transform: uppercase;
}
.diploma-body__person {
  font-size: 8rem;
  line-height: 125%;
  margin-top: 4rem;
}
.diploma-body__text {
  font-size: 5rem;
  line-height: 125%;
}
.headline__top {
  font-size: 2rem;
}
.headline__bottom {
  font-size: 5rem;
}

.diploma-controls {
  border: 0.125rem solid #000;
  border-radius: 1rem;
  padding: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-size: 0.65rem;
}
.diploma-controls__titles {
  font-size: 1rem;
  margin-bottom: 0.3125rem;
  font-family: "e-Ukraine-Bold";
  font-weight: 600;
}