@font-face {
	font-family: "e-Ukraine-Bold";
	src: url("../fonts/e-Ukraine-Bold.eot"); /* Поддерживается в IE9 */
	src:
		url("../fonts/e-Ukraine-Bold.woff2") format("woff2"),
		url("../fonts/e-Ukraine-Bold.woff") format("woff"),
		url("../fonts/e-Ukraine-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "e-Ukraine-Light";
	src: url("../fonts/e-Ukraine-Light.eot"); /* Поддерживается в IE9 */
	src:
		url("../fonts/e-Ukraine-Light.woff2") format("woff2"),
		url("../fonts/e-Ukraine-Light.woff") format("woff"),
		url("../fonts/e-Ukraine-Light.ttf") format("truetype");
}

@font-face {
	font-family: "e-Ukraine-Medium";
	src: url("../fonts/e-Ukraine-Medium.eot"); /* Поддерживается в IE9 */
	src:
		url("../fonts/e-Ukraine-Medium.woff2") format("woff2"),
		url("../fonts/e-Ukraine-Medium.woff") format("woff"),
		url("../fonts/e-Ukraine-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "e-Ukraine-Regular";
	src: url("../fonts/e-Ukraine-Regular.eot"); /* Поддерживается в IE9 */
	src:
		url("../fonts/e-Ukraine-Regular.woff2") format("woff2"),
		url("../fonts/e-Ukraine-Regular.woff") format("woff"),
		url("../fonts/e-Ukraine-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "e-UkraineHead-Bold";
	src: url("../fonts/e-UkraineHead-Bold.eot"); /* Поддерживается в IE9 */
	src:
		url("../fonts/e-UkraineHead-Bold.woff2") format("woff2"),
		url("../fonts/e-UkraineHead-Bold.woff") format("woff"),
		url("../fonts/e-UkraineHead-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "e-UkraineHead-Light";
	src: url("../fonts/e-UkraineHead-Light.eot"); /* Поддерживается в IE9 */
	src:
		url("../fonts/e-UkraineHead-Light.woff2") format("woff2"),
		url("../fonts/e-UkraineHead-Light.woff") format("woff"),
		url("../fonts/e-UkraineHead-Light.ttf") format("truetype");
}

@font-face {
	font-family: "e-UkraineHead-Medium";
	src: url("../fonts/e-UkraineHead-Medium.eot"); /* Поддерживается в IE9 */
	src:
		url("../fonts/e-UkraineHead-Medium.woff2") format("woff2"),
		url("../fonts/e-UkraineHead-Medium.woff") format("woff"),
		url("../fonts/e-UkraineHead-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "e-UkraineHead-Regular";
	src: url("../fonts/e-UkraineHead-Regular.eot"); /* Поддерживается в IE9 */
	src:
		url("../fonts/e-UkraineHead-Regular.woff2") format("woff2"),
		url("../fonts/e-UkraineHead-Regular.woff") format("woff"),
		url("../fonts/e-UkraineHead-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "e-UkraineHead-LOGO";
	src: url("../fonts/e-UkraineHead-LOGO.eot"); /* Поддерживается в IE9 */
	src:
		url("../fonts/e-UkraineHead-LOGO.woff2") format("woff2"),
		url("../fonts/e-UkraineHead-LOGO.woff") format("woff"),
		url("../fonts/e-UkraineHead-LOGO.ttf") format("truetype");
}
